@import "media-queries";

* {
	box-sizing: border-box;
}

body {
		background-color: #B9B9C7;
}

#right-panel {
	// margin:10px;
	margin-top: 50px;
	> div {
		.categories {
			margin: 10px;
			height: 200px;
			border-radius: 15px;
			background-color: #F0F0F5;
		}
	}
}

// #itinerary {
//   h3 {
//     text-align: center;
//     #day-title {
//       padding: 5px;
//       border: 1px solid $medium-brown;
//       border-radius: 5px;
//       > * {
//         display: inline-block;
//         vertical-align: middle;
//       }
//       > .remove {
//         margin-left: 1em;
//       }
//     }
//   }
// }

.navbar {
	.navbar-brand {
		color: #FFFF99;
		font-weight: bold
	}
	background-color: #47476B;
	border: 0;
}

#map-canvas {
	// position: fixed;
	height: calc(100vh);
	@include tabletView() {
   display: block;
   width: 95%;
   margin: 0 auto;
 }
}

	.categories {
		height: 200px;
		border-radius: 15px;
		background-color: #F0F0F5;
		padding: 10px;
		margin: 0 10px 0 10px;
		h4 {
			color: #B9B9C7;			
		}

		select {
			width: 90%;
		}
	}

	.glyphicon-plus-sign {
			color: #5CD6D6;
	}

	.glyphicon-remove-sign {
			color: #DB4D4D;
			float: right;
	}


	.dayTitle {
		text-align: center;
		border: solid;
		border-width: 1px;
		border-radius: 10px;
		// margin: 0 10px 0 10px;
		// max-width: 28%;
		color: #47476B;
	}

	#days {
		height: 45px;
		border-radius: 15px 15px 0 0;
		background-color: #47476B;
		padding: 10px;
		margin: 10px 10px 0 10px;
		// margin-top: -5px;
		.btn-circle {
			width: 30px;
		  height: 30px;
		  text-align: center;
		  padding: 6px 0;
		  font-size: 12px;
		  line-height: 1.42;
		  border-radius: 15px;
		  color: #FFFF99;
		  font-weight: bold;
		  border-color: #FFFF99;
		}
	}

	#itList {
		height: 500px;
		border-radius: 0 0 15px 15px;
		background-color: #F0F0F5;
		padding: 10px;
		margin: 0 10px 0 10px;
		h4 {
			color: #B9B9C7;
		}
		ul {
			list-style-type: none;
			padding-left: 0;
		}
	}


// .container {
// 	margin: 50px 0 0 0;
// 	padding: 0;
// }